<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Successful Transfer</h1>

    <!-- <h3 data-th-text="${msg}"></h3> -->

    <p>
      Your transfer of <span data-th-text="${transfer.amount}"></span> from
      <br />
      <span data-th-text="|${fromName} (${transfer.fromAccount}) |"></span> to
      <br />
      <span data-th-text="|${toName} (${transfer.toAccount}) |"></span>
      <br />
      is successful.
      <br />
      <br />
      Transaction id is <span data-th-text="${transfer.transactionId}"></span>
    </p>
  </body>
</html>
