<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Fund Transfer</h1>

    <form
      method="post"
      data-th-action="@{/transfer}"
      data-th-object="${transfer}"
    >
      <br />
      From account:
      <select name="fromAccount" data-th-field="*{fromAccount}">
        <option
          data-th-each="acc: ${accounts}"
          data-th-value="${acc.accountId}"
        >
          <span data-th-text="| ${acc.name} (${acc.accountId}) |"></span>
        </option>
      </select>
      <br />

      <br />
      To account:
      <select name="toAccount" data-th-field="*{toAccount}">
        <option
          data-th-each="acc: ${accounts}"
          data-th-value="${acc.accountId}"
        >
          <span data-th-text="| ${acc.name} (${acc.accountId}) |"></span>
        </option>
      </select>
      <br />

      <br />
      Amount:
      <input type="number" name="amount" data-th-field="*{amount}" />
      <br />
      <br />
      Comments:
      <textarea
        cols="30"
        rows="5"
        name="comments"
        data-th-field="*{comments}"
      ></textarea>
      <br />
      <br />
      <button type="submit">Transfer</button>
      <br />
      <br />

      <div>
        <div data-th-if="${#fields.hasErrors('fromAccount')}">
          <span
            data-th-errors="${transfer.fromAccount}"
            data-th-errorclass="error"
          ></span>
        </div>
        <br />
        <br />
        <div data-th-if="${#fields.hasErrors('toAccount')}">
          <span
            data-th-errors="${transfer.toAccount}"
            data-th-errorclass="error"
          ></span>
        </div>
        <br />
        <br />
        <div data-th-if="${#fields.hasErrors('amount')}">
          <span
            data-th-errors="${transfer.amount}"
            data-th-errorclass="error"
          ></span>
        </div>
        <br />

        <!-- <div data-th-if="${cErrors gt 0}"> -->
        <div data-th-each="e : ${cErrors}">
          <span data-th-text="${e}"></span>
        </div>
        <!-- </div> -->
        <br />
      </div>
    </form>
  </body>
</html>
